*~
*.kdev4
DEADJOE
cscope.*
swupd-*.log
tap-driver.sh
target/
test/functional/*/*.log
test/functional/*/*.trs
test/functional/*/logs/
test/functional/*/web-dir/
test-suite.log
tests/10
tests/*.db
tests/*.tar
